    header {
      height: 10vh;
      width: 100%;

      position: relative;
      top: 0;
      
      padding: 0rem 0.5rem;
      
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;

      background-image: var(--brand-color);

      border-bottom-style: solid;
      border-bottom-width: 0.35rem;
      border-bottom-color: var(--color2);
    }

    .language-selector,
    .title,
    .help-button {
      width: 33vw;
    }

    .title {
      text-align: center;
    }

    .help-button {
      text-align: right;
      padding-right: 1rem;
      cursor: pointer;
    }