@font-face {
  font-family: "NewAthena";
  src: url("/assets/fonts/newathu5_8.woff");
}

/*
* HEADER AND FOOTER
*/
footer {
  height: 10vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 0rem 0.5rem;
}

footer {
  bottom: 0;
  background-image: var(--brand-color-reverse);
  border-top-style: solid;
  border-top-width: 0.35rem;
  border-top-color: var(--color2);
}

/* header {
  top: 0;
  background-image: var(--brand-color);
  border-bottom-style: solid;
  border-bottom-width: 0.35rem;
  border-bottom-color: var(--color2);
} */

/* .language-selector,
.title,
.help-button, */
.sponsor-logos,
.home-page {
  width: 33vw;
}

/* .title {
  text-align: center;
}

.help-button {
  text-align: right;
  padding-right: 1rem;
  cursor: pointer;
} */

.sponsor-logos,
.home-page {
  display: flex;
  gap: 1rem;
}

.sponsor-logos {
  flex-direction: row;
}

.home-page {
  justify-content: center;
}

.home-page img {
  max-height: 9vh;
  border-style: solid;
  border-color: var(--color2);
  border-width: 0.35rem;
  border-radius: 50%;
}

.sponsor-logos img {
  max-height: 5vh;
}

/*
* MAIN ACTIVITY
*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  background-color: var(--color3);
}

textarea {
  resize: none;
  height: 100%;
  border: 0.25rem solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  font-size: x-large;
}

textarea + textarea {
  margin-top: 1rem;
}

.activity-area {
  width: 80vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* .information-area {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #182848f1;
  overflow-x: hidden;
  padding-top: 4.5rem;
  transition: 0.5s;
}

.information-area a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.information-area a:hover {
  color: #f1f1f1;
}
.information-area .close-button {
  position: absolute;
  top: 0;
  right: 1rem;
  font-weight: 900;
  font-size: 3rem;
}
@media screen and (max-height: 450px) {
  .information-area {
    padding-top: 15px;
  }
  .information-area a {
    font-size: 18px;
  }
} */

@media (max-width: 640px) {
  .main-container {
    flex-direction: column;
  }
  .activity-area {
    width: 100vw;
    height: 100vh;
  }
  textarea {
    font-size: large;
  }
}

.activity-input {
  font-family: "Times New Roman", Times, serif;
}

.activity-output {
  font-family: "NewAthena";
}

/* .description-area,
.rules-area {
  border: 0.25rem solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.description-area + .rules-area {
  margin-top: 1rem;
} */
