<app-help-menu
  [description]="currentLanguage.description"
  [rules]="currentLanguage.rules"
  [helpMenuWidth]="helpMenuWidth"
  (closeHelpMenuEvent)="closeHelpMenu()"
  ></app-help-menu>
  
  <main>
    <app-header
    [selectorOptions]="languageIdentifiers"
    title="Diacrínō"
    (openHelpMenuEvent)="openHelpMenu()"
  ></app-header>

  <!--
  Defines the main application space.
  -->
  <section class="main-container">
    <!--
    Defines the main elements of the converter application: a place for the
    user to input text, and a corresponding place for converted text to be 
    displayed.
    -->
    <section class="activity-area">
      <textarea
        class="activity-input"
        [placeholder]="currentLanguage.demoText"
        [value]="inputText"
        (keyup)="convertText($event)"
      ></textarea>

      <textarea
        class="activity-output"
        [placeholder]="currentLanguage.convert(currentLanguage.demoText)"
        readonly
        [value]="outputText"
      ></textarea>
    </section>
  </section>

  <!--
  Defines a simple menu of contact and sponsorship links.
  -->
  <footer>
    <!--
    Sponsor logos that link to corresponding sponsorship accounts.
    -->
    <section class="sponsor-logos">
      <img
        src="/assets/images/logos/buy_me_a_coffee/bmc-logo.svg"
        alt="BuyMeCoffee logo"
      />
      <img
        src="/assets/images/logos/patreon/PATREON_SYMBOL_1_WHITE_RGB.svg"
        alt="Patreon logo"
      />
      <img src="/assets/images/logos/ko_fi/kofi_symbol.svg" alt="Ko-Fi logo" />
    </section>

    <!--
    The app creator's home Git Hub page.
    -->
    <section class="home-page">
      <a href="https://github.com/snackmonger">
        <img
          src="/assets/images/logos/github/github-mark-white.svg"
          alt="GitHub logo"
        />
      </a>
    </section>

    <!--
    The app creator's other social media links.
    -->
    <section class="socials">
      <p></p>
    </section>
  </footer>
</main>
