<!-- 
Defines a help menu separate from the main application that is visible when
summoned by the help button, otherwise should remain hidden.   
-->
<section class="information-area" [style.width]="navWidth">
  <a href="javascript:void(0)" class="close-button" (click)="closeNav()"
    >&times;</a>
  <section class="description-area">This is the description area</section>
  <section class="rules-area">This is the rules area</section>
</section>
<main>


  <!--
  Defines a space for simple menu options and main logo/app name.
  -->
  <header>

    <!--
    Allows the user to choose the language paradigm
    for the converter application
    -->
    <section class="language-selector">
      <select>
        <option value="Greek">Polytonic Greek</option>
        <option value="Latin">Latin</option>
        <option value="Devanagari">Devanagari</option>
      </select>
    </section>

    <!--
    The main name or logo of the application.
    -->
    <section class="title">
      <p>{{ title }}</p>
    </section>

    <!--
    A button that summons the information area.
    -->
    <section class="help-button" (click)="openNav()">Help</section>

  </header>

  <!--
  Defines the main application space.
  -->
  <section class="main-container">

    <!--
    Defines the main elements of the converter application: a place for the
    user to input text, and a corresponding place for converted text to be 
    displayed.
    -->
    <section class="activity-area">
      <textarea
        class="activity-input"
        [placeholder]="currentLanguage.demoText"
        [value]="inputText"
        (keyup)="convertText($event)"
      ></textarea>

      <textarea
        class="activity-output"
        [placeholder]="currentLanguage.convert(currentLanguage.demoText)"
        readonly
        [value]="outputText"
      ></textarea>

    </section>

  </section>

  <!--
  Defines a simple menu of contact and sponsorship links.
  -->
  <footer>

    <!--
    Sponsor logos that link to corresponding sponsorship accounts.
    -->
    <section class="sponsor-logos">
      <img
        src="/assets/images/logos/buy_me_a_coffee/bmc-logo.svg"
        alt="BuyMeCoffee logo"
      />
      <img
        src="/assets/images/logos/patreon/PATREON_SYMBOL_1_WHITE_RGB.svg"
        alt="Patreon logo"
      />
      <img src="/assets/images/logos/ko_fi/kofi_symbol.svg" alt="Ko-Fi logo" />
    </section>

    <!--
    The app creator's home Git Hub page.
    -->
    <section class="home-page">
      <a href="https://github.com/snackmonger">
        <img
          src="/assets/images/logos/github/github-mark-white.svg"
          alt="GitHub logo"
        />
      </a>
    </section>

    <!--
    The app creator's other social media links.
    -->
    <section class="socials">
      <p></p>
    </section>
  </footer>
</main>
