:root {
  --color1: #385496;
  --color2: #182848;
  --color3: #f9f2e3;
  --brand-color: linear-gradient(to bottom right, var(--color1), var(--color2));
  --brand-color-reverse: linear-gradient(
    to top right,
    var(--color1),
    var(--color2)
  );
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  position: relative;

  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  font-weight: 300;
  font-family: sans-serif;
  text-align: center;
}

img::before {
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 0.8rem;
}

img::after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 1rem;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
